@charset "UTF-8";

h1{font-size: 23px;
font-weight:600;
font-family:궁서;
color:rgb(158,56,105);
line-height: 30px;/*줄간격*/
}

th{
	text-align:center;
	font-size:16px;
	color:#3333b0;
}

img{
	width:150px;
	height:auto;
}

a, a:visited{color: red; 
			text-decoration: none;
			font-weight:800;}
